body {
  font-family: 'Work Sans', sans-serif;
  color: #000000;
  background-color: #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}